nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid gray;
}
.nav-list{
    display: flex;
    gap: 20px;
}
.nav-list li a.active:hover{
    color: lightblue;
    font-weight: bold;
}
.nav-list li:hover{
    transform: scale(1.1);
    transition: 0.2s;
}
.nav-list li{
    transition: 0.2s;
}